*{
    font-family: 'Prata', serif;
    margin: 0;
}
.hello{
    background: url(images/wood.jpg);
}
.first-section{
    color: white;
}
.gallery{
    display: flex;

}
/* footer */
footer {
    display: flex;
}