*{
    font-family: 'Prata', serif;
}
h1, h2{
    color: #141414;
}
header {
    display: flex;
}
footer {
    display: flex;
}
.value {
    display: flex;
}
#reviews {
    color: white;
    background: #b8aa9f;
}
#nav{
    text-decoration: none;
    color: var(--main-color)
}
@media (min-width: 769px) {
    header ,header-nav
}
